Ans1. Values :- 'hello', -87.8, 6 and Expressions :- *, -, /, +

Ans2. Strings :- Strings is a type of data type which enables variables to store sequence of characters. For Example :- "Darpan Bahadur".
Variables :- Variables are refereces to values stored in the memory. For Example:- a = 10, here a is a variable.

Ans3. Int :- Int is a data type which represents an integer value or real numbers. ex:- a=3.
Boolean :- Boolean is a data type which represent true or false values. 0 stands for False and 1 stands for true. ex:- a = True.
Float :- Float is a data type which represents a decimal or floating point value. ex:- a = 3.15.

Ans4. An expression is a combination of variables, values and operators which generally performs a mathematical or computer operation. ex:- a = 10 + 20

Ans5. spam = 10 is a statement because it is not performing any operation which gives a value whereas expressions are operators, operands and variables which produces different output.

Ans6.

In [4]:
bacon = 22
bacon + 1

23

the variable bacon contains 22 because we are not assigning the updated value to bacon.

In [5]:
bacon

22

Ans7.

In [7]:
'spam' + 'spamspam'

'spamspamspam'

In [8]:
'spam'*3

'spamspamspam'

both of them will be same

Ans8. eggs is a valid variable name while 100 is invalid because acroding to rules a variable should not start with numbers, it should always start with alphabetic character and _.

Ans9. int(value), float(value), str(value)

Ans10. We cannot concatinate strings to an integer we should convert 99 into string using str(value) function

In [11]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'