In [10]:
# Ans1
km = int(input("Enter Kilometers :"))
mi = 0.62137*km
print(km,"km is equal to ",mi,"miles")

Enter Kilometers :9
9 km is equal to  5.59233 miles

In [12]:
# Ans2
c = int(input("Enter Celsius: "))
f = (c*(9/5))+32
print(f)

Enter Celsius: 10
50.0

In [17]:
# Ans3
import calendar
y = 2022
m = 8
d = 7
print(calendar.month(y,m,d))

                      August 2022
  Mon     Tue     Wed     Thu     Fri     Sat     Sun
    1       2       3       4       5       6       7
    8       9      10      11      12      13      14
   15      16      17      18      19      20      21
   22      23      24      25      26      27      28
   29      30      31

In [6]:
# Ans 4
import math
a = 1
b = 2
c = 1
d = (b**2) - (4*a*c)
x1 = (-b-math.sqrt(d))/(2*a)
x2 = (-b+math.sqrt(d))/(2*a)
print(x1," ", x2)

-1.0   -1.0

In [8]:
# Ans5
a = 2
b = 3
a,b = b,a
print(a," ",b)

3   2